

h1{
    text-align: center;
}
p{
    text-align:center;
}


button {
    background-color: #4CAF50;
    display: block;
    margin: auto;

}
#restart{
    display: block;
    margin: auto;
}
#dEasy,#dHard{
    display: block;
    margin: auto;
    background-color: #4CAF50;
}
#canvasDiv{
    margin: auto;
    width:600px;
}


#myCanvas{
    background-image: url("backsky.png");
}